/*! Navbar */
@media (max-width: 1230px) {
    .nav-wrapper {
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .nav-wrapper {
        padding: 0 40px;
    }
}
@media (max-width: 991px) {
    .nav-group li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-group li a span:first-child {
        padding-bottom: 4px;
    }
    .nav-active {
        padding: 4px 0.5rem;
    }
}
@media (max-width: 900px) {
    .nav-wrapper {
        padding: 0 30px;
    }
}
@media (max-width: 868px) {
    .nav-content {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background: linear-gradient(315deg, #292e38, #343d50);
        transition: all 0.3s ease;
    }
    nav.show .nav-content {
        left: 0%;
    }
    .nav-toggler-open,
    .nav-toggler-close,
    .nav-group {
        display: block !important;
    }
    .nav-group li:first-child {
        margin-top: 0 !important;
    }
    .nav-group li {
        margin-top: 45px;
        padding-left: 0;
    }
    .nav-group li a {
        display: inline;
        font-size: 16px;
        margin-left: -100%;
    }
    .nav-group li a span:first-child {
        padding-right: 7px;
        padding-bottom: 0;
    }
    .nav-group li:nth-child(2) a span:first-child {
        padding-right: 5px;
    }
    .nav-group li:nth-child(5) a {
        width: 100%;
    }
    nav.show .nav-group li a {
        margin-left: 0;
    }
    .nav-active {
        border-bottom: 0;
        padding: 0;
        color: #dc3545 !important;
    }
}
@media (max-width: 450px) {
    .nav-wrapper {
        padding: 0 18px;
    }
    .nav-toggler-close {
        right: 20px;
    }
}
/*! End */

/*! Slider/Carousel */
@media (max-width: 991px) {
    .carousel-subtitle {
        font-size: 16px;
    }
    .carousel-description {
        font-size: 17px;
    }
}
@media (max-width: 576px) {
    .carousel-title {
        font-size: 1.3125rem;
    }
    .carousel-subtitle {
        font-size: 0.8125rem;
    }
    .carousel-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.2rem;
    }
}
@media (max-width: 400px) {
    .carousel-title {
        font-size: 1.125rem;
    }
    .carousel-subtitle {
        font-size: 0.6875rem;
    }
    .carousel-btn {
        font-size: 0.6875rem;
    }
    .carousel-indicators {
        margin-bottom: 1.3rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 2.1875rem;
        height: 0.21875rem;
    }
}

/*!  */
@media (max-width: 1200px) {
    .sections-title {
        font-size: 21px;
    }
    .sections-button {
        font-size: 13px;
    }
}
@media (max-width: 1052px) {
    .sections-title {
        font-size: 19px;
    }
    .sections-button {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .sections-title {
        font-size: 24px;
    }
    .sections-button {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .sections-title {
        font-size: 20px;
    }
    .sections-button {
        font-size: 13px;
    }
}
/*!  */

/*!  */
@media (max-width: 1200px) {
    .content-title {
        font-size: 15px;
    }
    .rating,
    .year {
        padding: 2px 7px;
        font-size: 10px;
    }
}
@media (max-width: 991px) {
    .content-title {
        font-size: 17px;
    }
    .rating,
    .year {
        padding: 2px 10px;
        font-size: 13px;
    }
}
@media (max-width: 575px) {
    .content-title {
        font-size: 16px;
    }
}
/*!  */

/*!  */
@media (max-width: 1200px) {
    .sidebar-content-img {
        height: 150px;
    }
    .sidebar-content-title {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .sidebar-content-img {
        height: 175px;
    }
}
@media (max-width: 767px) {
    .sidebar-content-img {
        height: 200px;
    }
}
@media (max-width: 575px) {
    .sidebar-content-img {
        height: 300px;
    }
    .sidebar-content-title {
        font-size: 17px;
        padding: 15px 5px;
    }
}
@media (max-width: 450px) {
    .sidebar-content-img {
        height: 240px;
    }
}
/*!  */

/*! Media Query's Details (.details-list) */
@media (max-width: 767px) {
    .divider-left {
        padding-left: 16px;
    }
}

/*! Media Query's Details (.details-cast) */
@media (max-width: 1200px) {
    .details-cast-img {
        width: 100px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 14px;
    }
}
@media (max-width: 1122px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .details-cast-col {
        margin: 1rem 0;
    }
    .details-cast-img {
        width: 130px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .details-cast-col {
        margin: 0;
    }
    .details-cast-img {
        width: 200px;
    }
}
@media (max-width: 500px) {
    .details-title {
        font-size: 20px;
    }
    .details-subtitle,
    .details-description {
        font-size: 1rem;
    }
    .details-cast-img {
        width: 120px;
    }
}
@media (max-width: 330px) {
    .details-cast-img {
        width: 115px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 15px;
    }
}

/*!  */
@media (max-width: 575px) {
    .comment-input-wrapper {
        margin-bottom: 0.5rem;
    }
    .comment-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comment-user-icon {
        margin: 0;
        top: 30px;
        border: 2px solid #999999;
        border-radius: 50%;
    }
    .comment-user-icon::before {
        display: none;
    }
    .comment-user-icon img {
        width: 60px;
        height: 60px;
    }
    .comment-text-wrapper {
        padding: 40px 15px 15px 15px;
    }
    .comment-user-name,
    .comment-date {
        display: flex;
        justify-content: center;
    }
}
/*!  */

/*! Blog */
@media (max-width: 1200px) {
    .blog-post-img {
        height: 210px;
    }
    .blog-post-img.active {
        height: 445px;
    }
    .blog-post-overlay div span {
        font-size: 16px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 1024px) {
    .blog-post-img {
        height: 180px;
    }
    .blog-post-img.active {
        height: 385px;
    }
    .blog-post-overlay div {
        padding: 15px;
    }
}
@media (max-width: 991px) {
    .blog-post-wrapper.header-2,
    .blog-post-wrapper.header-3 {
        width: 100%;
    }
    .blog-post-wrapper.header-2 {
        padding-right: 12px;
    }
    .blog-post-wrapper.header-3 {
        padding-left: 12px;
    }
    .blog-post-img {
        height: 250px;
    }
    .blog-post-overlay div {
        padding: 20px;
    }
    .blog-post-overlay div span {
        font-size: 18px;
    }
    .blog-post-overlay div small {
        font-size: 14px;
    }
}
@media (max-width: 820px) {
    .blog-post-img {
        height: 210px;
    }
    .blog-post-img.active {
        height: 345px;
    }
    .blog-post-overlay div {
        padding: 18px;
    }
    .blog-post-overlay div span {
        font-size: 17px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 650px) {
    .blog-post-img {
        height: 180px;
    }
    .blog-post-img.active {
        height: 315px;
    }
    .blog-post-overlay div {
        padding: 15px;
    }
    .blog-post-overlay div span {
        font-size: 15px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 575px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 290px;
    }
    .blog-post-img.header-2,
    .blog-post-img.header-3 {
        width: 100%;
        padding: 0;
    }
    .blog-post-overlay div {
        padding: 18px;
    }
    .blog-post-overlay div span {
        font-size: 18px;
    }
    .blog-post-overlay div small {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 250px;
    }
    .blog-post-overlay div {
        padding: 15px;
    }
    .blog-post-overlay div span {
        font-size: 16px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 360px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 210px;
    }
}
@media (max-width: 320px) {
    .blog-post-overlay div span {
        font-size: 15px;
    }
    .blog-post-overlay div small {
        font-size: 12px;
    }
}

@media (max-width: 649px) {
    .about-brand-icon {
        margin-bottom: 1.1rem;
    }
}
@media (max-width: 496px) {
    .about-subtitle {
        font-size: 1rem;
    }
    .about-brand-icon {
        width: 50px;
    }
}
@media (max-width: 461px) {
    .about-brand-icon {
        margin-bottom: 0.5rem;
    }
}

/*! Media Query's Footer */
@media (max-width: 1200px) {
    .footer {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .footer {
        font-size: 16px;
    }
}
