/*! Navbar */
@media (max-width: 1230px) {
    .nav-wrapper {
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .nav-wrapper {
        padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .nav-wrapper {
        padding: 0 30px;
    }
}
@media (max-width: 868px) {
    .nav-content {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        text-align: center;
        background: #292e38;
        transition: all 0.3s ease;
    }
    nav.show .nav-content {
        left: 0%;
    }
    .nav-toggler-open,
    .nav-toggler-close,
    .nav-group {
        display: block !important;
    }
    .nav-group li {
        margin-top: 45px;
        padding-left: 0;
    }
    .nav-group li a {
        font-size: 16px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    nav.show .nav-group li a {
        margin-left: 0;
    }
}
@media (max-width: 450px) {
    .nav-wrapper {
        padding: 0 18px;
    }
    .nav-toggler-close {
        top: 25px;
        right: 20px;
    }
}
/*! End */

/*! Slider/Carousel */
@media (max-width: 991px) {
    .carousel-subtitle {
        font-size: 16px;
    }
    .carousel-description {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .carousel-title {
        font-size: 1.3125rem;
    }
    .carousel-subtitle {
        font-size: 0.8125rem;
    }
    .carousel-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.2rem;
    }
}
@media (max-width: 400px) {
    .carousel-title {
        font-size: 1.125rem;
    }
    .carousel-subtitle {
        font-size: 0.6875rem;
    }
    .carousel-btn {
        font-size: 0.6875rem;
    }
    .carousel-indicators {
        margin-bottom: 1.3rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 2.1875rem;
        height: 0.21875rem;
    }
}

/*!  */
@media (max-width: 1200px) {
    .sections-title {
        font-size: 21px;
    }
    .sections-button {
        font-size: 13px;
    }
}
@media (max-width: 1052px) {
    .sections-title {
        font-size: 19px;
    }
    .sections-button {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .sections-title {
        font-size: 24px;
    }
    .sections-button {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .sections-title {
        font-size: 20px;
    }
    .sections-button {
        font-size: 13px;
    }
}
/*!  */

/*!  */
@media (max-width: 1200px) {
    .content-title {
        font-size: 15px;
    }
    .rating,
    .year {
        padding: 2px 7px;
        font-size: 10px;
    }
}
@media (max-width: 991px) {
    .content-title {
        font-size: 17px;
    }
    .rating,
    .year {
        padding: 2px 10px;
        font-size: 13px;
    }
}
@media (max-width: 575px) {
    .content-title {
        font-size: 16px;
    }
}
/*!  */

/*!  */
@media (max-width: 1200px) {
    .sidebar-content-img {
        /* width: 258px; */
        height: 150px;
    }
    .sidebar-content-title {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .sidebar-content-img {
        /* width: 281px; */
        height: 175px;
    }
}
@media (max-width: 767px) {
    .sidebar-content-img {
        /* width: 348px; */
        height: 200px;
    }
}
@media (max-width: 575px) {
    .sidebar-content-img {
        /* width: 543px; */
        height: 300px;
    }
}
@media (max-width: 450px) {
    .sidebar-content-img {
        height: 240px;
    }
}
/*!  */

/*! Media Query's Details (.details-list) */
@media (max-width: 767px) {
    .divider-left {
        padding-left: 16px;
    }
}

/*! Media Query's Details (.details-cast) */
@media (max-width: 1200px) {
    .details-cast-img {
        width: 100px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 14px;
    }
}
@media (max-width: 1122px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .details-cast-col {
        margin: 1rem 0;
    }
    .details-cast-img {
        width: 130px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .details-cast-col {
        margin: 0;
    }
    .details-cast-img {
        width: 200px;
    }
}
@media (max-width: 500px) {
    .details-cast-img {
        width: 120px;
    }
}
@media (max-width: 330px) {
    .details-cast-img {
        width: 115px;
    }
    .details-cast-name,
    .details-cast-char {
        font-size: 15px;
    }
}

/*! Media Query's Footer */
@media (max-width: 1200px) {
    .footer {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .footer {
        font-size: 16px;
    }
}
