.video-card .detail-card {
position: absolute;
background-color: rgba(0, 0, 0, 0.3);
margin-top: -50px;
height: 50px;
width: 89%;
font-size: .85rem;
color: #FFF;
padding: 5px; }

@media screen and (max-width: 767px) {
.vgbh {
margin-top: 15px; } }

.video-title {
margin-top: 20px;
margin-bottom: 20px; }
.video-title h6 {
font-size: 1rem;
font-weight: 600;
font-family: "Glacial Indifference", "Open Sans", sans-serif; }
.video-title h6 i {
margin-right: 5px;
color: #cc1821; }

/* ===================================== Blog CSS ================================== */
.video-blog {
padding: 50px; }
@media screen and (max-width: 940px) {
.video-blog {
padding: 30px 10px; } }
.video-blog .video-ro {
margin-bottom: 15px; }
@media screen and (max-width: 575px) {
.video-blog .video-ro {
text-align: center; } }
.video-blog .video-ro .detail {
padding-left: 0px; }
.video-blog .video-ro .detail h6 {
font-size: 1rem;
font-weight: 600;
font-family: "Glacial Indifference", "Open Sans", sans-serif;
margin-top: 4px; }
.video-blog .video-ro .detail .counts {
font-size: .85rem; }
.video-blog .video-ro .detail .counts span {
margin-right: 10px; }
.video-blog .video-ro .detail .counts i {
font-size: .8rem;
margin-right: 3px; }
.video-blog .video-ro .detail p {
font-size: .85rem;
margin-top: 8px;
margin-bottom: 8px; }

.contri-row {
display: flex; }
.contri-row .image {
padding: 10px; }
.contri-row .image img {
width: 80px; }
.contri-row .detail {
flex-grow: 1;
padding: 10px;
padding-left: 0px;
margin: auto;
font-size: 1rem; }
