body {
    background: #343d50;
    font-family: "Noto Sans", sans-serif;
}

/* Style's background color */
.bg-grey {
    background: #343d50;
}

/* Style's section navbar */
.navbar {
    opacity: 90%;
}
.nav-link {
    font-weight: 500;
}

#active {
    border-radius: 15px;
    color: #f2f2f2;
    padding: 7px 15px;
}
#active:hover {
    /* color: #e34446;
     background: transparent;
     border:1px solid #e34446; */
}
.text-mc {
    font-family: "MinecrafterAltRegular";
}
input[type="search"] {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;
}
.btn-search {
    border-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Style's section slider/carousel */
.slider {
    height: 625px;
    opacity: 50%;
}
.slider-title {
    font-size: 28px;
}
#slider-genre,
#slider-eps {
    font-size: 15px;
}

/* Style's section actor/actress */
#slider-act {
    height: 280px;
    opacity: 0%;
}
#name-act:hover {
    color: #e34446;
    font-weight: bold;
}
#name-act {
    color: #f2f2f2;
}
.carousel-caption-act {
    position: absolute;
    right: 5%;
    bottom: 0.25rem;
    left: 5%;
    /* padding-top: 1.25rem; */
    /* padding-bottom: 1.25rem; */
    color: #fff;
    text-align: center;
}
#carousel-control-prev-act,
#carousel-control-next-act {
    position: absolute;
    top: 0px;
    bottom: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
.subname-act {
    font-size: 14px;
}
.text-instagram {
    color: #999999;
}
.text-instagram:hover {
    color: #e34446;
}

/* Style's section drama */
#h6 {
    color: #f2f2f2;
}
#h6:hover {
    color: #e34446;
    font-weight: bold;
}
.thumbnail:hover {
    opacity: 80%;
}
#title-genre {
    font-size: 1.25rem;
    text-transform: uppercase;
}
#btn-eye {
    margin-top: -3px;
}

/* Style's section modal */
.subtitle-modal {
    padding-top: 1.5rem;
}
.text-year-modal{
    padding-top: 7px;
}
.list-group-item {
    font-size: 14px;
    font-weight: 600;
}
iframe{
    height: 368px;
}

/* Style's section footer */
footer {
    font-size: 18px;
}
.footer-icon {
    font-size: 20px;
    padding: 0px 1px;
}

@media screen and (max-width: 540px) {
    /* Style's section navbar */
    .navbar {
        opacity: 80%;
    }
    #navbar-toggler {
        margin: 0;
    }
    #nav {
        padding: 0;
    }
    #active {
        width: max-content;
        padding: 0;
        padding-top: 10px;
        padding-left: 9px;
        padding-bottom: 7px;
        background: transparent;
        border: none;
    }

    /* Style's section slider/carousel */
    .slider {
        height: 18.75rem;
    }
    .carousel-caption {
        bottom: 12.25rem;
    }
    #slider-item {
        padding-left: 1.8rem;
        position: absolute;
        top: 0.625rem;
    }
    #slider-title {
        padding-bottom: 0.188rem;
        font-size: 1.25rem;
        display: block;
    }
    #slider-genre {
        font-size: 0.813rem;
        display: block;
        width: max-content;
    }
    .slider-eps {
        font-size: 0.813rem;
    }
    #btnPlay {
        margin-top: 0.313rem;
        display: block;
        width: max-content;
        font-size: 0.75rem;
    }
    #desc {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.688rem;
        top: 2.5rem;
    }
    .carousel-control-prev {
        margin-left: 0.625rem;
    }
    .carousel-control-next {
        margin-right: 0.625rem;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0.625rem;
        left: 0.75rem;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 1rem;
        margin-left: 65%;
        list-style: none;
    }
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 1.563rem;
        height: 0.188rem;
        padding: 0;
        margin-right: 0.188rem;
        margin-left: 0.188rem;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    /* Style's section actor/actress*/
    .g-3-none {
        --bs-gutter-y: 0;
    }
    #name-act {
        font-size: 0.938rem;
    }
    #slider-act {
        height: 25rem !important;
        opacity: 0;
    }
    .carousel-caption-act {
        bottom: -0.625rem;
        padding: 0 0.938rem;
    }
    #carousel-control-prev-act,
    #carousel-control-next-act {
        width: 0.875rem;
        /* top: 1.563rem; */
        bottom: 0;
    }
    .img-act {
        padding: 0;
    }
    .subtitle-modal {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .group-act {
        padding-top: 5px;
        padding-left: 5px;
    }
    .list-group-item {
        font-size: 14px;
    }

    /* Style's section drama */
    #title-genre {
        font-size: 1.125rem;
    }
    #h6 {
        font-size: 1.063rem;
    }
    #card-eps {
        font-size: 0.938rem;
    }
    #synopsis {
        font-size: 0.938rem;
    }
    iframe{
        height: 275px;
    }
    .btn-download{
        font-size: 14px;
    }

    /* Style's section footer */
    footer {
        font-size: 1.125rem;
    }
    #footer-icon {
        margin-top: -0.188rem;
    }
}

@media screen and (max-width: 480px) {
    /* Style's section navbar */
    .navbar {
        opacity: 80%;
    }
    #navbar-toggler {
        margin: 0;
    }
    #nav {
        padding: 0;
    }
    #active {
        width: max-content;
        padding: 0;
        padding-top: 10px;
        padding-left: 9px;
        padding-bottom: 7px;
        background: transparent;
        border: none;
    }

    /* Style's section slider/carousel */
    .slider {
        height: 17.813rem;
    }
    .carousel-caption {
        bottom: 11.25rem;
    }
    #slider-item {
        padding-left: 1.8rem;
        position: absolute;
        top: 0.625rem;
    }
    #slider-title {
        padding-bottom: 0.188rem;
        font-size: 1.063rem;
        display: block;
    }
    #slider-genre {
        display: block;
        width: max-content;
    }
    .slider-eps {
        font-size: 0.688rem;
    }
    #btnPlay {
        margin-top: 0.313rem;
        display: block;
        width: max-content;
        font-size: 0.625rem;
    }
    #desc {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.688rem;
        top: 3.75rem;
    }
    .carousel-control-prev {
        margin-left: 0.625rem;
    }
    .carousel-control-next {
        margin-right: 0.625rem;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0.938;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 1rem;
        margin-left: 65%;
        list-style: none;
    }
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 1.25rem;
        height: 0.156rem;
        padding: 0;
        margin-right: 0.188rem;
        margin-left: 0.188rem;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    /* Style's section actor/actress*/
    .g-3-none {
        --bs-gutter-y: 0;
    }
    #name-act {
        font-size: 0.813rem;
    }
    #slider-act {
        height: 22rem !important;
        opacity: 0;
    }
    .carousel-caption-act {
        bottom: -0.625rem;
        padding: 0 0.938rem;
    }
    #carousel-control-prev-act,
    #carousel-control-next-act {
        top: 35px;
        width: 0.813rem;
        bottom: 0.625rem;
    }
    .img-act {
        padding: 0;
    }
    .subtitle-modal {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .group-act {
        padding-top: 5px;
        padding-left: 5px;
    }
    .list-group-item {
        font-size: 13px;
    }

    /* Style's section drama */
    #title-genre {
        font-size: 1.125rem;
    }
    #h6 {
        font-size: 0.969rem;
    }
    #card-eps {
        font-size: 0.875rem;
    }
    #synopsis {
        font-size: 0.938rem;
    }
    iframe{
        height: auto;
    }
    .btn-download{
        font-size: 12px;
    }

    /* Style's section footer */
    footer {
        font-size: 1.063rem;
    }
    #footer-icon {
        margin-top: -0.188rem;
    }
}

@media screen and (max-width: 360px) {
    /* Style's section navbar */
    .navbar {
        opacity: 80%;
    }
    #navbar-toggler {
        margin: 0;
    }
    #nav {
        padding: 0;
    }
    #active {
        width: max-content;
        padding: 0;
        padding-top: 10px;
        padding-left: 9px;
        padding-bottom: 7px;
        background: transparent;
        border: none;
    }

    /* Style's section slider/carousel */
    .slider {
        height: 17.813rem;
    }
    .carousel-caption {
        bottom: 11.25rem;
    }
    #slider-item {
        padding-left: 1.8rem;
        position: absolute;
        top: 0.625rem;
    }
    #slider-title {
        padding-bottom: 0.188rem;
        font-size: 1.063rem;
        display: block;
    }
    #slider-genre {
        display: block;
        width: max-content;
    }
    .slider-eps {
        font-size: 0.688rem;
    }
    #btnPlay {
        margin-top: 0.313rem;
        display: block;
        width: max-content;
        font-size: 0.625rem;
    }
    #desc {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.688rem;
        top: 3.75rem;
    }
    .carousel-control-prev {
        margin-left: 0.625rem;
    }
    .carousel-control-next {
        margin-right: 0.625rem;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 1rem;
        margin-left: 65%;
        list-style: none;
    }
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 1.25rem;
        height: 0.156rem;
        padding: 0;
        margin-right: 0.188rem;
        margin-left: 0.188rem;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    /* Style's section actor/actress*/
    .g-3-none {
        --bs-gutter-y: 0;
    }
    #name-act {
        font-size: 0.563rem;
    }
    #slider-act {
        height: 17rem !important;
        opacity: 0;
    }
    .carousel-caption-act {
        bottom: -0.625rem;
        padding: 0 0.938rem;
    }
    #carousel-control-prev-act,
    #carousel-control-next-act {
        top: 25px;
        width: 0.313rem;
        bottom: 0.438rem;
    }
    .img-act {
        padding: 0;
    }
    .subtitle-modal {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .group-act {
        padding-top: 5px;
        padding-left: 5px;
    }
    .list-group-item {
        font-size: 11px;
    }

    /* Style's section drama */
    #title-genre {
        font-size: 1.125rem;
    }
    #h6 {
        font-size: 0.813rem;
    }
    #card-eps {
        font-size: 0.75rem;
    }
    #synopsis {
        font-size: 0.813rem;
    }
    iframe{
        height: auto;
    }
    .btn-download{
        font-size: 10px;
    }

    /* Style's section footer */
    footer {
        font-size: 0.938;
    }
    #footer-icon {
        margin-top: -0.188rem;
    }
}

@media screen and (max-width: 320px) {
    /* Style's section navbar */
    .navbar {
        opacity: 80%;
    }
    #navbar-toggler {
        margin: 0;
    }
    #nav {
        padding: 0;
    }
    #active {
        width: max-content;
        padding: 0;
        padding-top: 10px;
        padding-left: 9px;
        padding-bottom: 7px;
        background: transparent;
        border: none;
    }

    /* Style's section slider/carousel */
    .slider {
        height: 17.813rem;
    }
    #slider-item {
        padding-left: 1.8rem;
        position: absolute;
        top: 0.625rem;
    }
    #slider-title {
        padding-bottom: 0.188rem;
        font-size: 0.875rem;
        display: block;
    }
    #slider-genre {
        font-size: 0.625;
        display: block;
        width: max-content;
    }
    #slider-eps {
        font-size: 0.688rem;
    }
    #btnPlay {
        margin-top: 0.313rem;
        display: block;
        width: max-content;
        font-size: 0.438rem;
    }
    #desc {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.688rem;
    }
    .carousel-control-prev {
        margin-left: 0.625rem;
    }
    .carousel-control-next {
        margin-right: 0.625rem;
    }

    /* Style's section actor/actress*/
    .g-3-none {
        --bs-gutter-y: 0;
    }
    #name-act {
        font-size: 0.5rem;
    }
    #slider-act {
        height: 15rem !important;
        opacity: 0;
    }
    .carousel-caption-act {
        bottom: -0.938rem;
        padding: 0 0.938rem;
    }
    #carousel-control-prev-act,
    #carousel-control-next-act {
        font-size: 8px;
        top: 25px;
        width: 0.188rem;
        bottom: 0;
    }
    .img-act {
        padding: 0;
    }
    .subtitle-modal {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .group-act {
        padding-top: 5px;
        padding-left: 5px;
    }
    .list-group-item {
        font-size: 10px;
    }

    /* Style's section drama */
    #title-genre {
        font-size: 0.875rem;
    }
    #h6 {
        font-size: 0.813rem;
    }
    #card-eps {
        font-size: 0.75rem;
    }
    #synopsis {
        font-size: 0.75rem;
    }
    iframe{
        height: auto;
    }
    .btn-download{
        font-size: 8px;
    }
}

/* .date {
   font-weight: 400;
   font-size: 13px;
}
.wrapper_content_box {
   position: relative;
   width: 100%;
   background-color: #fff;
   margin-bottom: 30px;
}
.wrapper_content_box {
   box-shadow: 0 2px 2px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
}
.wrapper_content_box.style2 {
   overflow: visible;
   margin-bottom: 50px;
   border: 1px solid #ddd;
   border-radius: 10px;
}
.wrapper_content_box_heading_title {
   width: 100%;
   background-color: #fff;
   padding: 15px 10px 10px 10px;
   border-bottom: 1px solid #eee;
}
.wrapper_content_box_heading_title {
   border-bottom: none;
}
.wrapper_content_box.style2 .wrapper_content_box_heading_title {
   text-align: center;
   background: #cb202d;
   color: #fff;
   position: relative;
   display: inline-block;
   left: 50%;
   min-width: 300px;
   width: auto;
   transform: translateX(-50%) translateY(-50%);
   border-radius: 7px;
}
.wrapper_content_box.style2 .wrapper_content_box_heading_title h3 {
   color: #fff;
   font-size: 18px;
}
.fa-star:hover {
   cursor: pointer;
} */
