/*! ---VARIABLES [START]--- */
:root {
    --poppins-font: "Poppins", sans-serif;
    --oswald-font: "Oswald", sans-serif;
    --mulish-font: "Mulish", sans-serif;
    --goldman-font: "Goldman", sans-serif;
    --primary-color: #343d50;
    --primary-gradient-color: linear-gradient(315deg, #292e38, #343d50);
    --black-color: #292e38;
    --red-color: #dc3545;
    --white-c-color: #cccccc;
    --white-f-color: #ffffff;
    --white-f2-color: #f2f2f2;
    --grey-color: #999999;
    --grey-b-color: #b7b7b7;
    --font-weight-normal: normal;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}
/*! ---VARIABLES [END]--- */

/*! ---SCROLLBAR [START]--- */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 0.6rem;
    background-color: var(--white-c-color);
}
::-webkit-scrollbar {
    width: 0.8rem;
    background-color: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: var(--red-color);
}
/*! ---SCROLLBAR [END]--- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: url("../img/background/bg.svg") no-repeat;
    background-size: cover;
    font-family: var(--mulish-font);
    overflow-x: hidden;
}

/*! ---NAVBAR [START]--- */
nav {
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
}

/* .nav-wrapper */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 78.125rem;
    margin: auto;
}
@media (max-width: 1230px) {
    .nav-wrapper {
        padding: 0 3.75rem;
    }
}
@media (max-width: 1100px) {
    .nav-wrapper {
        padding: 0 2.5rem;
    }
}
@media (max-width: 900px) {
    .nav-wrapper {
        padding: 0 1.875rem;
    }
}
@media (max-width: 450px) {
    .nav-wrapper {
        padding: 0 1.125rem;
    }
}
/* end */

/* .nav-content */
@media (max-width: 868px) {
    .nav-content {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background: var(--primary-gradient-color);
        transition: all 0.3s ease;
    }
    nav.show .nav-content {
        left: 0%;
    }
}
/* end */

/* .nav-group */
.nav-group {
    display: inline-flex;
    align-items: center;
}
@media (max-width: 868px) {
    .nav-group {
        display: block !important;
    }
}
/* end */

/* .nav-group li */
.nav-group li {
    list-style: none;
    padding-left: 0.5rem;
}
@media (max-width: 868px) {
    .nav-group li:first-child {
        margin-top: 0 !important;
    }
    .nav-group li {
        margin-top: 2.813rem;
        padding-left: 0;
    }
}
/* end */

/* .nav-group li a */
.nav-group li a {
    color: var(--white-c-color);
    font-weight: var(--font-weight-500);
    margin-left: 1.6rem;
    text-decoration: none;
    transition: 0.3s linear;
}
.nav-group li a:hover {
    color: var(--red-color);
}
@media (max-width: 991px) {
    .nav-group li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-group li a span:first-child {
        padding-bottom: 0.25rem;
    }
}
@media (max-width: 868px) {
    .nav-group li a {
        display: inline;
        font-size: 1rem;
        margin-left: -100%;
    }
    .nav-group li a span:first-child {
        padding-right: 0.438rem;
        padding-bottom: 0;
    }
    .nav-group li:nth-child(2) a span:first-child {
        padding-right: 0.313rem;
    }
    .nav-group li:nth-child(5) a {
        width: 100%;
    }
    nav.show .nav-group li a {
        margin-left: 0;
    }
}
/* end */

/* .nav-group li .btn */
.nav-group li .btn,
.nav-group li .btn:hover {
    color: var(--white-f-color);
}
/* end */

/* .nav-toggler */
.nav-toggler-open,
.nav-toggler-close {
    color: var(--white-f-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}
.nav-toggler-close {
    position: absolute;
    right: 32px;
    top: 28px;
}
@media (max-width: 868px) {
    .nav-toggler-open,
    .nav-toggler-close {
        display: block !important;
    }
}
@media (max-width: 450px) {
    .nav-toggler-close {
        right: 20px;
    }
}
/* end */

/* .nav-active */
.nav-active {
    border-bottom: 2px solid var(--red-color);
    padding: 0.5rem;
}
@media (max-width: 991px) {
    .nav-active {
        padding: 0.25rem 0.5rem;
    }
}
@media (max-width: 868px) {
    .nav-active {
        border-bottom: 0;
        padding: 0;
        color: var(--red-color) !important;
    }
}
/* end */

/*! ---NAVBAR [END]--- */

/*! ---SLIDER/CAROUSELS [START]--- */
.carousel-img {
    filter: brightness(50%);
}
.carousel-caption {
    display: flex;
    position: absolute;
    inset: 10%;
    padding: 1.25rem 0;
    color: var(--white-f-color);
    text-align: left;
}

/* .carousel-title */
.carousel-title {
    font: var(--font-weight-700) 1.8rem var(--poppins-font);
}
@media (max-width: 576px) {
    .carousel-title {
        font-size: 1.3125rem;
    }
}
@media (max-width: 400px) {
    .carousel-title {
        font-size: 1.125rem;
    }
}
/* end */

/* .carousel-subtitle */
.carousel-subtitle {
    font-size: 1.063rem;
}
@media (max-width: 991px) {
    .carousel-subtitle {
        font-size: 1rem;
    }
}
@media (max-width: 576px) {
    .carousel-subtitle {
        font-size: 0.8125rem;
    }
}
@media (max-width: 400px) {
    .carousel-subtitle {
        font-size: 0.6875rem;
    }
}
/* end */

/* .carousel-description */
.carousel-description {
    font-size: 1.188rem;
}
@media (max-width: 991px) {
    .carousel-description {
        font-size: 1.063rem;
    }
}
/* end */

/* .carousel-btn */
@media (max-width: 576px) {
    .carousel-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.2rem;
    }
}
@media (max-width: 400px) {
    .carousel-btn {
        font-size: 0.6875rem;
    }
}
/* end */

.carousel-indicators [data-bs-target] {
    width: 2.5rem;
    height: 0.313rem;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0.938rem;
}
@media (max-width: 400px) {
    .carousel-indicators {
        margin-bottom: 1.3rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 2.1875rem;
        height: 0.21875rem;
    }
}

/* carousel-indicators .active */
.carousel-indicators .active {
    background-color: var(--red-color);
}
/* end */

/*! ---SLIDER/CAROUSELS [END]--- */

/*! ---SECTIONS TITLE & BUTTON [START]--- */

/* .sections-title */
.sections-title {
    display: flex;
    align-items: center;
    height: 2.063rem;
    font: var(--font-weight-500) 1.5rem var(--oswald-font);
    color: var(--white-f-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 21px;
    border-left: 0.25rem solid var(--red-color);
    padding-left: 0.625rem;
}
@media (max-width: 1200px) {
    .sections-title {
        font-size: 1.313rem;
    }
}
@media (max-width: 1052px) {
    .sections-title {
        font-size: 1.188rem;
    }
}
@media (max-width: 991px) {
    .sections-title {
        font-size: 1.5rem;
    }
}
@media (max-width: 450px) {
    .sections-title {
        font-size: 1.25rem;
    }
}
/* end */

/* .sections-title span */
.sections-title span:first-child {
    padding-right: 0.438rem;
}
/* end */

/* .sections-button */
.sections-button {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: var(--font-weight-500);
    text-transform: uppercase;
    color: var(--white-f-color);
    letter-spacing: 2px;
}
@media (max-width: 1200px) {
    .sections-button {
        font-size: 0.813rem;
    }
}
@media (max-width: 1052px) {
    .sections-button {
        font-size: 0.75rem;
    }
}
@media (max-width: 991px) {
    .sections-button {
        font-size: 0.875rem;
    }
}
@media (max-width: 450px) {
    .sections-button {
        font-size: 0.813rem;
    }
}
/* end */

/* .sections-button a/i */
.sections-button a {
    color: var(--white-f-color);
    display: flex;
    align-items: center;
}
.sections-button a:hover {
    font-weight: var(--font-weight-700);
    color: var(--red-color);
}
.sections-button a i {
    padding-left: 0.438rem;
}
/* end */

/*! ---SECTIONS TITLE & BUTTON [END]--- */

/*! ---CLASS BOOTSTRAP (CUSTOMIZED) [START]--- */
.card-body {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
/*! ---CLASS BOOTSTRAP (CUSTOMIZED) [END]--- */

/*! ---CLASS PLYR (CUSTOMIZED) [START]--- */
.plyr__poster {
    background-size: cover !important;
    filter: brightness(60%);
}
.plyr__controls {
    padding-left: 1.125rem !important;
    padding-right: 1.125rem !important;
}
.plyr__control.plyr__control--overlaid {
    background-color: var(--red-color) !important;
}
.plyr--full-ui input[type="range"] {
    color: var(--red-color) !important;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
    background-color: var(--red-color) !important;
}
/*! ---CLASS PLYR (CUSTOMIZED) [END]--- */

/*! ---MAIN CONTENT [START]--- */

/* .content-img */
.content-img {
    filter: brightness(80%);
    transition: 1s ease;
    border-radius: calc(0.25rem - 1px);
}
.content-img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
}
/* end */

/* .rating & .year */
.rating,
.year {
    position: absolute;
    top: 10px;
    padding: 0.125rem 0.625rem;
    font-size: 0.813rem;
    color: var(--white-f-color);
    border-radius: 0.25rem;
}
.rating {
    left: 10px;
    background: var(--red-color);
}
.year {
    right: 10px;
    background: var(--black-color);
}
@media (max-width: 1200px) {
    .rating,
    .year {
        padding: 0.125rem 0.438rem;
        font-size: 0.625rem;
    }
}
@media (max-width: 991px) {
    .rating,
    .year {
        padding: 0.125rem 0.625rem;
        font-size: 0.813rem;
    }
}
/* end */

/* .content-title */
.content-title {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: var(--font-weight-600);
    line-height: 1.2;
    text-decoration: none;
    color: var(--white-f2-color);
}
.content-title:hover {
    font-weight: var(--font-weight-700);
    color: var(--red-color);
}
@media (max-width: 1200px) {
    .content-title {
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .content-title {
        font-size: 17px;
    }
}
@media (max-width: 575px) {
    .content-title {
        font-size: 1rem;
    }
}
/* end */

/*! ---MAIN CONTENT [END]--- */

/*! ---SIDEBAR CONTENT [START]--- */

/* .sidebar-content-wrapper */
.sidebar-content-wrapper {
    font-weight: var(--font-weight-500);
    color: var(--white-f2-color);
}
.sidebar-content-wrapper:hover .sidebar-content-img {
    filter: brightness(100%);
}
.sidebar-content-wrapper:hover .sidebar-content-title::before {
    padding: 0.375rem 0;
    transform: scaleY(1);
    transform-origin: bottom;
}
.sidebar-content-wrapper .card {
    overflow: hidden;
    background-color: var(--primary-color);
    border: 0;
}
/* .sidebar-content-wrapper */

/* .sidebar-content-img */
.sidebar-content-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10.938rem;
    object-fit: cover;
    object-position: top;
    filter: brightness(60%);
    border-radius: calc(0.25rem - 1px);
    transition: 0.4s linear;
}
@media (max-width: 1200px) {
    .sidebar-content-img {
        height: 150px;
    }
}
@media (max-width: 991px) {
    .sidebar-content-img {
        height: 175px;
    }
}
@media (max-width: 767px) {
    .sidebar-content-img {
        height: 200px;
    }
}
@media (max-width: 575px) {
    .sidebar-content-img {
        height: 300px;
    }
}
@media (max-width: 450px) {
    .sidebar-content-img {
        height: 240px;
    }
}
/* end */

/* .sidebar-content-title */
.sidebar-content-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    z-index: 1;
    font-size: 1.031rem;
    font-weight: var(--font-weight-700);
    text-align: center;
    color: var(--white-f-color);
    background: none;
}
.sidebar-content-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    top: 0;
    left: 0;
    transition: transform 0.4s linear;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}
@media (max-width: 1200px) {
    .sidebar-content-title {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sidebar-content-title {
        font-size: 17px;
        padding: 15px 5px;
    }
}
/* end */

/* .sidebar-content-overlay */
.sidebar-content-overlay {
    padding: 0.625rem;
}
.sidebar-content-overlay .badge {
    font-weight: normal;
}
/* end */

/*! ---SIDEBAR CONTENT [END]--- */

/*! ---CATEGORY [START]--- */
.category-wrapper {
    background-color: var(--black-color);
    border-color: var(--black-color);
    font-size: 1.25rem;
    color: var(--white-f-color);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.category-wrapper:hover {
    font-size: 1.4rem;
}
@media (max-width: 576px) {
    .category-wrapper:hover {
        font-size: 1.25rem;
    }
}
.category-title {
    font-weight: var(--font-weight-600);
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateZ(20px);
    transition: 0.3s linear;
}
.list-group {
    padding: 0.5rem 0;
}
.list-group-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: var(--font-weight-500);
}
.list-group-item::before {
    content: "\f054";
    height: 12px;
    font: var(--font-weight-600) 13px "Font Awesome 5 Pro";
    color: var(--black-color);
    padding-right: 6px;
}
.list-group-item:hover {
    color: var(--red-color);
    font-weight: var(--font-weight-600);
}
.list-group-item.active {
    font-weight: var(--font-weight-600);
    color: var(--red-color) !important;
    background: var(--white-f2-color) !important;
}
/*! ---CATEGORY [START]--- */

/*! ---FORM SEARCH [START]--- */
.form-search-wrapper {
    margin: 2rem 0;
}
.form-search-group input {
    border-right: 0;
    border-top-left-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
}
.form-search-group button {
    background: var(--white-f-color);
    border-left: 0;
    border-top-right-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
}
.form-search-group button:hover i {
    font-weight: var(--font-weight-600);
    color: var(--red-color);
}
.form-search-group input:focus {
    border-right: 0;
}
.form-search-group button:focus {
    border-left: 0;
}
.form-search-group input,
.form-search-group input:focus,
.form-search-group button:focus {
    border-color: #ced4da;
}
.form-search-group input:focus,
.form-search-group button:focus {
    box-shadow: none;
}
/*! ---FORM SEARCH [END]--- */

/*! PAGE MENU [START] */
.breadcrumb-item {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    font-size: 0.938rem;
    color: var(--white-f-color);
}
.breadcrumb-item i,
.breadcrumb-item a {
    transition: 0.3s linear;
}
.breadcrumb-item i {
    font-size: 0.75rem;
    padding-right: 0.313rem;
}
.breadcrumb-item a {
    text-decoration: none;
    color: var(--white-f-color);
}
.breadcrumb-item:hover i,
.breadcrumb-item:hover a {
    font-weight: var(--font-weight-700);
    color: var(--red-color);
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-size: 0.625rem;
    color: var(--white-f-color);
    padding: 0 0.813rem;
}
.breadcrumb-icon {
    display: flex;
    align-items: center;
}
.breadcrumb-active,
.breadcrumb-active i,
.breadcrumb-active a {
    font-weight: normal !important;
    color: var(--grey-b-color) !important;
}
/*! ---PAGE MENU [END]--- */

/*! ---DRAMA DETAIL [START]--- */

/* .details-poster */
.details-poster-wrapper {
    background: transparent;
    overflow: hidden;
    border: 0;
}
.details-poster-status {
    position: absolute;
    top: 25px;
    right: -32px;
    transform: rotate(45deg);
}
.details-poster-status span {
    font-size: 15px;
    font-weight: var(--font-weight-500);
    color: var(--white-f-color);
    letter-spacing: 0.5px;
    padding: 5px 40px;
    background-color: var(--red-color);
}
/* end */

/* .details-title */
.details-title {
    font-weight: var(--font-weight-700);
    color: var(--white-f-color);
}
@media (max-width: 500px) {
    .details-title {
        font-size: 20px;
    }
}
/* end */

/* .details-subtitle & .details.description */
.details-subtitle,
.details-description {
    font-size: 18px;
    line-height: 30px;
    color: var(--grey-b-color);
}
@media (max-width: 500px) {
    .details-subtitle,
    .details-description {
        font-size: 1rem;
    }
}
/* end */

/* .details-list & .list-divider */
.details-list {
    font-size: 15px;
    color: var(--grey-b-color);
}
.details-list-divider {
    padding: 0 4px;
}
@media (max-width: 767px) {
    .divider-left {
        padding-left: 16px;
    }
}
/* end */

/* .details-card-title */
.details-card-title {
    text-align: center;
}
/* end */

/* .details-cast-img */
.details-cast-img-wrapper {
    display: flex;
    margin: 0 auto;
    width: max-content;
    overflow: hidden;
    border: 1px solid var(--grey-color);
    border-radius: 50%;
}
.details-cast-img {
    display: flex;
    width: 120px;
    cursor: pointer;
    transition: 1s ease;
}
.details-cast-img:hover {
    transform: scale(1.1);
}
@media (max-width: 1200px) {
    .details-cast-img {
        width: 100px;
    }
}
@media (max-width: 991px) {
    .details-cast-img {
        width: 130px;
    }
}
@media (max-width: 767px) {
    .details-cast-img {
        width: 200px;
    }
}
@media (max-width: 500px) {
    .details-cast-img {
        width: 120px;
    }
}
@media (max-width: 330px) {
    .details-cast-img {
        width: 115px;
    }
}
/* end */

/* details-cast-name & cast-character */
.details-cast-name {
    display: block;
    font-size: 15px;
}
.details-cast-char {
    font-size: 15px;
    font-weight: var(--font-weight-700);
}
@media (max-width: 1200px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 14px;
    }
}
@media (max-width: 1122px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 16px;
    }
}
@media (max-width: 330px) {
    .details-cast-name,
    .details-cast-char {
        font-size: 15px;
    }
}
/* end */

/* .details-card-video-wrapper */
.details-card-video-wrapper video {
    max-height: 460px;
    object-fit: cover;
    object-position: center;
}
/* end */

/* .comment-input-wrapper */
.comment-input-wrapper {
    margin-bottom: 2rem;
}
@media (max-width: 575px) {
    .comment-input-wrapper {
        margin-bottom: 0.5rem;
    }
}
/* end */

/* .comment-input-text */
.comment-input-text {
    border: 0;
}
.comment-input-text:focus {
    box-shadow: none;
}
/* end */

/* .comment-wrapper */
.comment-wrapper {
    display: flex;
    overflow: hidden;
}
@media (max-width: 575px) {
    .comment-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* end */

/* .comment-user-icon */
.comment-user-icon {
    width: max-content;
    float: left;
    margin-right: 20px;
    position: relative;
}
.comment-user-icon::before {
    position: absolute;
    right: -30px;
    top: 20px;
    content: "";
    transform: rotate(45deg);
    border-top: 15px solid transparent;
    border-left: 15px solid var(--grey-color);
}
.comment-user-icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
@media (max-width: 575px) {
    .comment-user-icon {
        margin: 0;
        top: 30px;
        border: 2px solid #999999;
        border-radius: 50%;
    }
    .comment-user-icon::before {
        display: none;
    }
    .comment-user-icon img {
        width: 60px;
        height: 60px;
    }
}
/* end */

/* .comment-text-wrapper */
.comment-text-wrapper {
    width: 100%;
    overflow: hidden;
    background: var(--grey-color);
    padding: 20px;
    border-radius: 10px;
}
@media (max-width: 575px) {
    .comment-text-wrapper {
        padding: 40px 15px 15px 15px;
    }
}
/* end */

/* .comment-user-name & comment-date */
.comment-user-name {
    font-weight: var(--font-weight-700);
    margin-bottom: 0;
}
@media (max-width: 575px) {
    .comment-user-name,
    .comment-date {
        display: flex;
        justify-content: center;
    }
}

/* .comment-text */
.comment-text {
    margin: 10px 0 0 0;
}
/* end */

/*! ---DRAMA DETAIL [END]--- */

/*! BLOG POSTS [START] */
/* .blog-post-wrapper */
.blog-post-wrapper {
    font-weight: var(--font-weight-500);
    color: var(--white-f2-color);
}
.blog-post-wrapper:hover .blog-post-img {
    filter: brightness(100%);
}
.blog-post-wrapper:hover div::before {
    transform: scaleY(1);
    transform-origin: bottom;
}
.blog-post-wrapper .card {
    overflow: hidden;
    background: var(--primary-color);
    border: 0;
}
@media (max-width: 991px) {
    .blog-post-wrapper.header-2,
    .blog-post-wrapper.header-3 {
        width: 100%;
    }
    .blog-post-wrapper.header-2 {
        padding-right: 12px;
    }
    .blog-post-wrapper.header-3 {
        padding-left: 12px;
    }
}
/* end */

/* blog-post-img */
.blog-post-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    filter: brightness(60%);
    border-radius: calc(0.25rem - 1px);
    transition: 0.4s linear;
}
.blog-post-img.active {
    height: 505px;
}
@media (max-width: 1200px) {
    .blog-post-img {
        height: 210px;
    }
    .blog-post-img.active {
        height: 445px;
    }
}
@media (max-width: 1024px) {
    .blog-post-img {
        height: 180px;
    }
    .blog-post-img.active {
        height: 385px;
    }
}
@media (max-width: 991px) {
    .blog-post-img {
        height: 250px;
    }
}
@media (max-width: 820px) {
    .blog-post-img {
        height: 210px;
    }
    .blog-post-img.active {
        height: 345px;
    }
}
@media (max-width: 650px) {
    .blog-post-img {
        height: 180px;
    }
    .blog-post-img.active {
        height: 315px;
    }
}
@media (max-width: 575px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 290px;
    }
    .blog-post-img.header-2,
    .blog-post-img.header-3 {
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 450px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 250px;
    }
}
@media (max-width: 360px) {
    .blog-post-img,
    .blog-post-img.active {
        height: 210px;
    }
}
/* end */

/* .blog-post-overlay */
.blog-post-overlay div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin: 0;
    z-index: 1;
    color: var(--white-f-color);
    background: none;
}
.blog-post-overlay div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    top: 0;
    left: 0;
    transition: transform 0.4s linear;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}
.blog-post-overlay div span {
    display: block;
    font-size: 18px;
    font-weight: var(--font-weight-700);
    line-height: 25px;
    padding-bottom: 4px;
}
.blog-post-overlay div small:nth-child(3) {
    letter-spacing: 1px;
}
.blog-post-overlay div small:nth-child(3)::before {
    content: "-";
    padding-right: 4px;
}
@media (max-width: 1200px) {
    .blog-post-overlay div span {
        font-size: 16px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 1024px) {
    .blog-post-overlay div {
        padding: 15px;
    }
}
@media (max-width: 991px) {
    .blog-post-overlay div {
        padding: 20px;
    }
    .blog-post-overlay div span {
        font-size: 18px;
    }
    .blog-post-overlay div small {
        font-size: 14px;
    }
}
@media (max-width: 820px) {
    .blog-post-overlay div {
        padding: 18px;
    }
    .blog-post-overlay div span {
        font-size: 17px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 650px) {
    .blog-post-overlay div {
        padding: 15px;
    }
    .blog-post-overlay div span {
        font-size: 15px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 575px) {
    .blog-post-overlay div {
        padding: 18px;
    }
    .blog-post-overlay div span {
        font-size: 18px;
    }
    .blog-post-overlay div small {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .blog-post-overlay div {
        padding: 15px;
    }
    .blog-post-overlay div span {
        font-size: 16px;
    }
    .blog-post-overlay div small {
        font-size: 13px;
    }
}
@media (max-width: 320px) {
    .blog-post-overlay div span {
        font-size: 15px;
    }
    .blog-post-overlay div small {
        font-size: 12px;
    }
}
/* end */

/*! BLOG POSTS [END] */

/*! BLOG DETAIL [START] */

/* .blog-post-detaeil-img-wrapper */
.blog-post-detail-img-wrapper {
    height: 500px;
    overflow: hidden;
    border-radius: 0.25rem;
}
@media (max-width: 1100px) {
    .blog-post-detail-img-wrapper {
        height: 100%;
    }
}
@media (max-width: 991px) {
    .blog-post-detail-img-wrapper {
        height: 500px;
    }
}
@media (max-width: 850px) {
    .blog-post-detail-img-wrapper {
        height: auto !important;
    }
}
/* end */

/* .blog-post-detail-title */
.blog-post-detail-title {
    color: #ffffff;
    font-weight: 700;
}
@media (max-width: 450px) {
    .blog-post-detail-title {
        font-size: 20px;
    }
}
/* end */

/* .blog-post-detail-subtitle */
.blog-post-detail-subtitle {
    font-size: 1rem;
    color: var(--grey-b-color);
}
@media (max-width: 450px) {
    .blog-post-detail-subtitle {
        font-size: 14px;
    }
}
/* end */

/* .blog-post-detail-description */
.blog-post-detail-description {
    color: var(--grey-b-color);
}
.blog-post-detail-description div {
    margin-bottom: 1rem;
    font-size: 18px;
}
.blog-post-detail-description div p {
    margin-bottom: 0.5rem;
}
@media (max-width: 450px) {
    .blog-post-detail-description div h5 {
        font-size: 18px;
    }
    .blog-post-detail-description div {
        font-size: 16px;
    }
}
/* blog-post-detail-description */

/* blog-post-detail-date */
.blog-post-detail-date {
    letter-spacing: 1px;
}
.blog-post-detail-date::before {
    content: "-";
    padding-right: 5px;
}
/* end */

/*! ---BLOG DETAIL [END]--- */

/*! ---ABOUT [START]--- */
.about-title,
.about-subtitle a {
    font-weight: var(--font-weight-700);
}
.about-subtitle {
    font-size: 18px;
}
.about-subtitle,
.about-subtitle a {
    color: var(--grey-color);
}
.about-subtitle a {
    text-decoration: none;
    transition: 0.4s linear;
}
.about-subtitle a:hover {
    color: var(--red-color);
}
@media (max-width: 496px) {
    .about-subtitle {
        font-size: 1rem;
    }
}

/* .about-brand-icon */
.about-brand-icon {
    width: 70px;
    height: auto;
    padding: 0;
    border: 1px solid var(--black-color);
    background-color: transparent;
}
.about-brand-icon:hover {
    opacity: 0.8;
}
@media (max-width: 649px) {
    .about-brand-icon {
        margin-bottom: 1.1rem;
    }
}
@media (max-width: 496px) {
    .about-brand-icon {
        width: 50px;
    }
}
@media (max-width: 461px) {
    .about-brand-icon {
        margin-bottom: 0.5rem;
    }
}
/* end */

/*! ---ABOUT [END]--- */

/*! ---LOGIN/REGISTER [START]--- */
.sign-wrapper {
    background-color: rgba(52, 71, 80, 0.13) !important;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(52, 71, 80, 0.1);
}
@media (max-width: 800px) {
    .link-option {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .link-option {
        font-size: 16px;
    }
}
@media (max-width: 340px) {
    .link-option {
        font-size: 14px;
    }
}
.sign-divider {
    color: #fff;
    height: 2px;
    border-radius: 0.25rem;
}
.btn-social-media {
    background-color: rgba(255, 255, 255, 0.27);
    color: #fff;
}
.btn-social-media:hover {
    background-color: transparent;
    border: 2px solid #dc3545;
    color: #dc3545;
}
@media (max-width: 835px) {
    .btn-social-media {
        font-size: 14px;
    }
}
@media (max-width: 1105px) {
    .btn-social-media {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .btn-social-media {
        font-size: 14px;
    }
}
@media (max-width: 585px) {
    .btn-social-media {
        font-size: 13px;
    }
}
@media (max-width: 575px) {
    .btn-social-media {
        font-size: 16px;
    }
}
/*! ---LOGIN/REGISTER [END]--- */

/*! ---FOOTER [START]--- */

/* .footer */
.footer {
    background: var(--primary-gradient-color);
}
@media (max-width: 1200px) {
    .footer {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .footer {
        font-size: 1rem;
    }
}
/* end */

.footer-btnUp {
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -25px;
}
.footer-btnUp a {
    display: inline-block;
    font-size: 36px;
    color: var(--white-f-color);
    height: 50px;
    width: 50px;
    background: var(--red-color);
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
.footer-btnUp a i {
    position: relative;
    font-size: 24px;
    bottom: 4px;
}
/* end */

.footer .container-fluid .row div h6 {
    font-family: var(--poppins-font);
}
.footer-divider {
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: var(--white-f-color);
}
.footer-description,
.footer-description a {
    color: var(--grey-color);
}
.footer-description a {
    text-decoration: none;
    font-weight: var(--font-weight-700);
    transition: 0.4s linear;
}
.footer-description a:hover {
    color: var(--red-color);
}
.footer-link i {
    font-size: 13px;
}
.footer-link a {
    text-decoration: none;
    color: var(--grey-color);
}
.footer-link a:hover {
    color: var(--red-color);
    font-weight: var(--font-weight-600);
}
/*! ---FOOTER [END]--- */
