/*! Variables */
:root {
    --poppins-font: "Poppins", sans-serif;
    --oswald-font: "Oswald", sans-serif;
    --mulish-font: "Mulish", sans-serif;
    --minecraft-font: "MinecrafterAltRegular";
    --goldman-font: "Goldman", sans-serif;
}
/*! End */

/*! Scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #cccccc;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dc3545;
}
/*! End */

/*! Body */
body {
    background: #343d50;
    font-family: var(--mulish-font);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/*! End */

/*! Placeholder image */
.placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/*! End */

/*! Navbar */
nav {
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
}
.nav-brand a {
    font-family: var(--goldman-font);
    font-size: 25px;
    text-decoration: none;
}
.nav-group {
    display: inline-flex;
}
.nav-group li {
    list-style: none;
    padding-left: 0.5rem;
}
.nav-group li a {
    color: #cccccc;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-group li a:hover {
    color: #dc3545;
}
.nav-toggler-open,
.nav-toggler-close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.nav-toggler-close {
    position: absolute;
    right: 32px;
    top: 24px;
}
.nav-active {
    border-bottom: 2px solid #dc3545;
    padding: 0.5rem;
}
/*! End */

/*! Slider/Carousels */
.carousel-img {
    filter: brightness(50%);
}
.carousel-caption {
    display: flex;
    position: absolute;
    inset: 10%;
    padding: 1.25rem 0;
    color: #fff;
    text-align: left;
}
.carousel-title {
    font-family: var(--poppins-font);
    font-size: 28px;
    font-weight: 700;
}
.carousel-subtitle {
    font-size: 17px;
    font-weight: normal;
}
.carousel-description {
    font-size: 19px;
}
.carousel-indicators [data-bs-target] {
    width: 40px;
    height: 5px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 15px;
}
.carousel-indicators .active {
    background-color: #dc3545;
}
/*! End */

/*! Sections title */
.sections-title {
    display: flex;
    align-items: center;
    height: 33px;
    font-family: var(--oswald-font);
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 21px;
    border-left: 4px solid #dc3545;
    padding-left: 10px;
}
.sections-title span:first-child {
    padding-right: 7px;
}
.sections-button {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sections-button,
.sections-button a {
    color: #ffffff;
    display: flex;
    align-items: center;
}
.sections-button a:hover {
    font-weight: 700;
    color: #dc3545;
}
.sections-button a i {
    padding-left: 7px;
}

/*! Content */
.content-img {
    filter: brightness(80%);
    transition: 1s ease;
    border-radius: calc(0.25rem - 1px);
}
.content-img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
}
.rating,
.year {
    position: absolute;
    top: 10px;
    padding: 2px 10px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 4px;
}
.rating {
    left: 10px;
    background: #dc3545;
}
.year {
    right: 10px;
    background: #3d3d3d;
}
.content-title {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    color: #f2f2f2;
}
.content-title:hover {
    font-weight: 700;
    color: #dc3545;
}

/*! Sidebar Content */
.sidebar-content-wrapper {
    font-weight: 500;
    color: #f2f2f2;
}
.sidebar-content-wrapper:hover .sidebar-content-img {
    left: 0;
    transform: translateX(0);
    filter: brightness(100%);
    transform: scale(1.1);
}
.sidebar-content-wrapper:hover .sidebar-content-title {
    padding: 6px 0;
    background: #292e38;
    color: #fff;
}
.sidebar-content-wrapper .card {
    overflow: hidden;
    background: #343d50;
    border: 0;
}
.sidebar-content-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* width: 296px; */
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);
    border-radius: calc(0.25rem - 1px);
    transition: 1s ease;
}
.sidebar-content-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 5px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: 0.7s ease;
}
.sidebar-content-overlay {
    padding: 10px;
}
.sidebar-content-overlay .badge {
    font-weight: normal;
}
/*! End */

/*! Category */
.category-wrapper {
    background-color: #292e38;
    border-color: #292e38;
    font-size: 1.25rem;
    color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.category-wrapper:hover {
    font-size: 1.4rem;
}
.category-title {
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
    transform: translateZ(20px);
    background-color: rgba(0, 0, 0, 0.7);
}
/*! End */

/*! Page Menu */
.breadcrumb-item {
    font-size: 15px;
    color: #ffffff;
}
.breadcrumb-item a {
    color: #ffffff;
}
.breadcrumb-home {
    display: flex;
    align-items: center;
}
.breadcrumb-icon {
    font-size: 12px;
    padding-right: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-top: 4px;
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-size: 10px;
    color: #ffffff;
}
.breadcrumb-active {
    color: #b7b7b7;
}
/*!End */

/*! Details */
.details-subtitle,
.details-description,
.details-list {
    color: #b7b7b7;
}
.details-poster-wrapper {
    background: transparent;
    overflow: hidden;
    border: 0;
}
.details-poster-status {
    position: absolute;
    top: 25px;
    right: -32px;
    transform: rotate(45deg);
}
.details-poster-status span {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 5px 40px;
    background-color: #dc3545;
}
.details-title {
    font-weight: 700;
    color: #ffffff;
}
.details-subtitle,
.details-description {
    font-size: 18px;
    line-height: 30px;
}
.details-list {
    font-size: 15px;
}
.details-list-divider {
    padding: 0 4px;
}
.details-card-title {
    text-align: center;
}
.details-cast-img-wrapper {
    display: flex;
    margin: 0 auto;
    width: max-content;
    overflow: hidden;
    border: 1px solid #999999;
    border-radius: 50%;
}
.details-cast-img {
    display: flex;
    width: 120px;
    cursor: pointer;
    transition: 1s ease;
}
.details-cast-img:hover {
    transform: scale(1.1);
}
.details-cast-name {
    display: block;
    font-size: 15px;
}
.details-cast-char {
    font-size: 15px;
    font-weight: 700;
}
.details-card-video {
    padding-right: 12px;
    padding-left: 12px;
}
.comment-input-wrapper {
    margin-bottom: 2rem;
}
.comment-input-text {
    border: 0;
}
.comment-input-text:focus {
    box-shadow: none;
}
.comment-wrapper {
    display: flex;
    overflow: hidden;
}
.comment-user-icon {
    width: max-content;
    float: left;
    margin-right: 20px;
    position: relative;
}
.comment-user-icon::before {
    position: absolute;
    right: -30px;
    top: 20px;
    content: "";
    transform: rotate(45deg);
    border-top: 15px solid transparent;
    border-left: 15px solid #999999;
}
.comment-user-icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.comment-text-wrapper {
    width: 100%;
    overflow: hidden;
    background: #999999;
    padding: 18px 30px 16px 20px;
    border-radius: 10px;
}
.comment-user-name {
    font-weight: 700;
    margin-bottom: 0;
}
.comment-text {
    margin: 10px 0 0 0;
}
/*! End */

/*! Footer */
.footer-btnUp {
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -25px;
}
.footer-btnUp a {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background: #dc3545;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
.footer-btnUp a i {
    position: relative;
    font-size: 24px;
    bottom: 4px;
}
.footer .container-fluid .row div h6 {
    font-family: var(--poppins-font);
}
.footer-divider {
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #ffffff;
}
.footer-link i {
    font-size: 13px;
}
.footer-link a {
    text-decoration: none;
    color: #999999;
}
.footer-link a:hover {
    color: #dc3545;
    font-weight: 600;
}
/*! End */
